version: "2"

services:
  # nodejs:
  #   image: node:6.9.5-alpine
  #   tty: true
  #   volumes:
  #     - "/nodejs//usr/app"

  rabbitmq:
    image: rabbitmq:management-alpine
    tty: true
    ports:
      - "15672:15672"
      - "5672:5672"

networks:
  default:
    external:
      name: microservicenetwork
